# notepad KWrite
*.kate-swp

# Kompilované binární soubory (objektové soubory)
*.o
*.obj

# Spustitelné soubory (výsledné programy)
# Pokud tvůj testovací program pojmenuješ jinak, přidej ho sem
test_suite
*.exe
*.out
*.app

# Archivy (statické knihovny)
*.a
*.lib

# Dočasné soubory editorů a operačních systémů
.DS_Store
Thumbs.db
.vscode/
.idea/
*.swp
*~
